<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<applicationSettings>
		<SimpleHMS.Properties.Settings>
			<setting name="RememberMe" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="SavedUsername" serializeAs="String">
				<value />
			</setting>
			<setting name="SavedPassword" serializeAs="String">
				<value />
			</setting>
		</SimpleHMS.Properties.Settings>
	</applicationSettings>
</configuration>
